<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">
    <Properties>
        <Property name="logNm">msa-ref-biz-order-command</Property>
        <Property name="layoutPattern">%style{%d{yyyy/MM/dd HH:mm:ss,SSS}}{cyan} %highlight{[%-5p]}{FATAL=bg_red, ERROR=red,
            INFO=green, DEBUG=blue}  [%C] %style{[%t]}{yellow}- %m%n -</Property>
    </Properties>

    <Appenders>
        <!--  肄쒖넄  -->
        <Console name="console_Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}"/>
        </Console>
        <RollingFile name="file_Appender" filename="logs/${logNm}.log" filePattern="logs/${logNm}_%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="${layoutPattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="200KB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min"/>
        </RollingFile>
    </Appenders>

    <loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="console_Appender"/>
            <AppenderRef ref="file_Appender"/>
        </Root>
        <Logger name="ord.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console_Appender"/>
            <AppenderRef ref="file_Appender"/>
        </Logger>
        <Logger name="com.samsungsds.msa" level="DEBUG" additivity="false">
            <AppenderRef ref="console_Appender"/>
        </Logger>
    </loggers>
</configuration>